h1.about-header {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: black;
    font-weight: 900;
    font-size: 12vmin;
    margin-top: 5vmin;
}

.about-content {
    display: flex;
    text-align: left;
    vertical-align: bottom;
    font-family: 'Alegreya', serif;
}

.zelda-logo {
    width: 30%;
    height: auto;
    /* border-radius: 50%; */
}

p {
    margin-top: 3vmin;
}

.product-list {
    display: flex;
    flex-direction: row;
}

ul {
    text-decoration: none;
    list-style: none;
}

ul:hover{
    background-color: antiquewhite;
    color: black;
}

.z-prod{

}