.shop-body {
    padding-top: 5vmin;
    font-family: 'Alegreya', serif;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: black;
    font-weight: 900;
    font-size: 12vmin;
}

.item {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 3vmin;
    font-weight: 600;
}

.item-img {
    width: 30vw;
    height: auto;
}