.login {
    display: flex;
    color: black;
    font-family: 'Amatic SC', cursive;
    background-color: #e3f2fd;

}

.navbar {
    display: flex;
    align-items: space-between;
    width: 100vw;
    margin-bottom: -2vmin;
    padding: none;


}

.home-btn {
    color: black;
    text-decoration: none;
    font-weight: 800;
}

h3 {
  font-size: 5vmin;  
}

.home-btn:hover {
    color: darkblue;
    text-decoration: none;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    font-size: 3vmin;
    /* text-decoration: none; */
}

.nav-btn {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-btn:hove {
    color: darkblue;
    text-decoration: none;
}

.left-header {
    display: flex;
    justify-content: space-between;
}

h4.slogan {
    align-self: center;
    margin-left: 8vmin;
}

.temp {
    font-weight: 600;
    margin-top: 0.25vmin;
}

.temp-icon {
    margin-top: -8px;
}



